@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); 
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-regular.woff2') format('woff2'), 
		url('../fonts/gilroy-regular.woff') format('woff'), 
		url('../fonts/gilroy-regular.ttf') format('truetype'), 
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); 
  font-style: normal;
  font-weight: 400;
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/gilroy-semibold.eot');
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-semibold.woff2') format('woff2'), 
		url('../fonts/gilroy-semibold.woff') format('woff'), 
		url('../fonts/gilroy-semibold.ttf') format('truetype'), 
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); 
  font-style: normal;
  font-weight: 600;
}