@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); 
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-regular.woff2') format('woff2'), 
		url('../fonts/gilroy-regular.woff') format('woff'), 
		url('../fonts/gilroy-regular.ttf') format('truetype'), 
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); 
  font-style: normal;
  font-weight: 400;
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/gilroy-semibold.eot');
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-semibold.woff2') format('woff2'), 
		url('../fonts/gilroy-semibold.woff') format('woff'), 
		url('../fonts/gilroy-semibold.ttf') format('truetype'), 
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); 
  font-style: normal;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  align-items: center;
  padding: 25px 46px 25px 48px;
  border: none;
  background-color: #f15525;
  border-radius: 82px;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 96.69%;
  text-align: center;
  color: #fff;
}


.button:hover {
	box-shadow: 0px 12px 10px 2px rgba(34, 60, 80, 0.2);
}

.button:active {
  background-color: #c4431c;
}

.btn__img {
  margin-left: 12px;
}

.container{
  min-height: 100vh;
  width: 100vw;
}

.main {
  font-family: "Gilroy-Regular",sans-serif;
  color: #22253B;
  min-height: 100vh;
  width: 100vw;
}

.header-container {
  padding-top: 12px;
  background: rgb(255,255,255);
  background-attachment: fixed;
  background: radial-gradient(circle farthest-side at 75% 50%, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
}

.header {
  display: flex;
  align-items: center;
  margin: 0px auto;
  min-height: 51px;
  background-color: #fff;
  border-radius: 75px;
  max-width: 1160px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header__logo{
  padding: 16px 22px;
  margin-top: 5px;
  margin-right: 73px;
}

.header__nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header-nav__link {
  text-decoration: none;
  color: #22253B;
  font-size: 13px;
  line-height: 13.57px;
  margin-right: 41px;
}

.header-nav__link:hover {
  color: #404070; 
}

.header__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: auto;
  padding-right: 11px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header-button__signup {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 13px;
  line-height: 13.57px;
  color: #3C3E50;
}

.header-button__signup:hover {
	color: #2f3249;
}
.header-button__signup:active {
	transform: scale(0.96);
}

.header-button__login {
  display: flex;
  align-items: center;
  padding: 9px 16.46px 9px 14.95px;
  border: none;
  min-width: 78px;
  font-weight: 500;
  font-size: 12px;
  line-height: 104.4%;
  border-radius: 34px;
  color: #fff;
  background-color: #38bff2;
}

.header-button__login:hover {
  transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.header-button__login:active {
  background-color: #3296bb;
}

.header-button-login__img {
  margin-right: 2px;
}

.main-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 122px;
  margin-top: 70px;
  padding-bottom: 110px;
}

.main-intro-text__header{
  max-width: 638px;
  font-size: 46px;
  font-weight: 500;
  line-height: 46px;
  padding-bottom: 31px;
}

.main-intro-text-header__bracket {
  color: #ff0000;
}

.main-intro-text-header__italic {
  font-style: italic;
}

.main-intro-text__paragraph {
  border-top:  1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 19px;
  max-width: 365px;
}

.main-intro-text__btn {
  font-size: 20px;
}

.technologies {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding-bottom: 84px;
}

.technologies__header {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 46px;
  line-height: 46px;
  padding-top: 84px;
  padding-bottom: 35px;
}

.technologies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 59px;
  width: 100vw;
  background-color: #EAF2F5;
  padding: 42px 100px 0;
  border-radius: 48px;
  max-width: 1160px;
}

.technologies-container__img {
  width: 407px;
  height: 354px;
}

.technologies-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26.13px;
}

.technologies-type__list {
  width: 466.83px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}

.technologies-type__item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  height: 45.13px;
}

.python {
  background-color: #5096FF;
  width: 311px;
}

.networks {
  background-color: #FFB359;
  width: 89px;
}

.dataBase {
  background-color: #FF6F50;
  width: 151.17px;
}

.flaskDjango {
  background-color: #4BD071;
  width: 277.48px;
}

.debuggingTesting {
  background-color: #50C0FF;
  width: 258px;
}

.docker {
  background-color: #4B77B9;
  width: 95px;
}

.git {
  background-color: #AF93FF;
  width: 93.83px;
}

.technologies-text {
  width: 386px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 600;  
  font-size: 20px;
  line-height: 25px;
}

.advantagies{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 87px;
  background-color: #fff;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

.advantagies-header {
  width: 50%;
  margin: 0 auto 30px;
  font-family: "Gilroy-SemiBold", sans-serif;
  text-align: center;
  font-size: 46px;
  line-height: 46px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 27px;
  padding-bottom: 31px;
  max-width: 1160px;
}

.benefits-item {
  max-width: 270px;
  min-height: 254px;
  background: #EAF2F5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.benefits-header {
  font-family: "Gilroy-SemiBold", sans-serif;
  text-align: center;
  padding: 19.3px 52px 10px 52px;
  font-size: 16px;
  line-height: 18px;
}

.benefits-txt{
  text-align: center;
  width: 200px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #22253B;
}

.process{
  margin-top: -70px;
  margin-bottom: -70px;
  padding-bottom: 160px;
  width: 100vw;
  background-color: #3296bb;
}

.process-header {
  font-family: "Gilroy-SemiBold", sans-serif;
  text-align: center;
  font-size: 46px;
  line-height: 46px;
  padding-top: 120px;
  padding-bottom: 26px;
}

.process-txt {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 642px;
  margin: 0 auto;
}

.process-video {
  max-width: 1160px;
  margin: 0 auto;
  padding: 28px 0;
  display: flex;
  justify-content: center;
}

.process-steps {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #fff;
  border-radius: 40px;
  padding: 45px 0 52px 5px; 
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.process-steps__order {
  display: flex;
  flex-direction: column;
  padding: 0 53px;
}

.process-steps__order.second,
.process-steps__order.third {
  border-left: 1px solid #EAF2F5;
  padding-left: 58px;
}

.process-steps__number {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 77px;
  line-height: 30px;
  color: #38BFF2;
}

.process-steps__header{
  margin-bottom: 18px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.process-steps__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.process-start {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  max-width: 538px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 110px;
}

.process-start__btn {
  font-size: 16px;
}

.process-start-paragraph {
  width: 45%;
  margin-left: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #22253B;
}

.helpService{
  background-color: #fff;
  border-radius: 75px;
  padding-top: 91px;
  padding-bottom: 70px;
  border-radius: 75px;
  position: relative;
  z-index: 1;
}

.helpService-container{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.helpService-gridContainer.first {
  display: grid;
  grid-template-columns: minmax(auto,400px) minmax(auto,730px);
  gap: 30px;
}

.helpService__item{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #EAF2F5;
  border-radius: 40px;
}

.helpService__item.text {
  padding: 54px 85px 50px 100px;
}

.helpService__item__img {
  padding: 45px 65px;
}

.helpService-item__header {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 18px;
}

.helpService-item__paragraph {
  font-size: 16px;
  line-height: 25px;
}

.helpService-gridContainer.second {
  display: grid;
  grid-template-columns: minmax(auto,730px) minmax(auto,400px);
  gap: 30px;
}

.price {
  margin-top: -70px;
  margin-bottom: 60PX;
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 53%);
}

.price__container{
  display: grid;
  grid-template-columns: minmax(auto,391px) minmax(auto,252px) minmax(auto,380px);
  margin-bottom: 30px;
  grid-column-gap: 69px;
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 41px;
}

.price__header {
  margin: 0 auto 30px;
  padding-top: 120px;
  font-family: 'Gilroy SemiBold';
  font-style: normal;
  font-size: 46px;
  line-height: 46px;
  text-align: center;
}

.price__item {
  display: flex;
  align-items: center;
}

.price__item__img {
  margin-right: 29px;
}

.price__item__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.price-table {
  width: 100vw;
}

.price-table-container{
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 36px 40px;
  background: #fff;
  border-radius: 30px;
}

.table{
  width: 100%;
}

.thead {
  font-weight: 700;
  font-size: 16px;
  color: #38BFF2;
  text-align: left;
}

.tbody {
  font-weight: 400;
  font-size: 20px;
}

.tfoot {
  font-weight: 700;
  font-size: 24px;
}

.tr {
  display: flex;
  border-radius: 10px;
}

.tbody >:nth-child(odd) {
  background-color: #F3F3F3;
}

.td,
.th {
  padding: 17px 19px 15px;
}

.td,
.th {
  width: 26.5%;
}

.td:first-child,
.th:first-child {
  width: 47%;
}

.footnote {
  background-color: none;
  caption-side: bottom;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #8E8E8E;
  margin-bottom: 33px;
}

.price__footer {
  width: 100vw;
}

.price__footer__container {
  display: flex;
  align-items: center;
  gap: 23px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 65px 51px 65px 54px;
  background-color: #EAF2F5;
  border-radius: 35px;
}

.price__footer__txt {
  max-width: 600px;
}

.price__footer__btn {
  font-size: 20px;
}

.footer {
  width: 100vw;
  font-family: "Gilroy-Regular", sans-serif;
}

.contacts {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.contacts__media__logo {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.contacts__media__txt {
  font-size: 16px;
  line-height: 19px;
  color: #8E8E8E;
}

.contacts__media__icons__list {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.contacts__media__icons__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #22253B;
}

.footer__nav__list{
  list-style-type: none;
}

.footer__nav__item {
  margin-bottom: 25px;
}

.footer__nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 104.4%;
  color: #22253B;
  }

.footer-requisites-contacts {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 23px;
}

.footer-requisites-contacts-tel {
  text-decoration: none;
  color: #38BFF2;
}

.footer-requisites-contacts-mail {
  text-decoration: none;
  color: #22253B;
}

.footer-requisites-txt{
  font-size: 13px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container {
  width: 100vw;
}

.footer-container-txt {
  display: flex;
  gap: 64px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 28px 0;
  border-top: 1px solid #D8D8D8;
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container-txt-secured{
  margin-right: auto;
}