@import url(/assets/fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}

.heading {
  width: 50%;
  margin: 0 auto 30px;
  font-family: "Gilroy-SemiBold", sans-serif;
  text-align: center;
  font-size: 46px;
  line-height: 46px;
}

.button {
  display: flex;
  align-items: center;
  padding: 25px 46px 25px 48px;
  border: none;
  background-color: #f15525;
  border-radius: 82px;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 96.69%;
  text-align: center;
  color: #fff;
}

.button:hover {
	box-shadow: 0px 12px 10px 2px rgba(34, 60, 80, 0.2);
}

.button:active {
  background-color: #c4431c;
}

.btn__img {
  margin-left: 12px;
}

.main {
  font-family: "Gilroy-Regular",sans-serif;
  color: #22253B;
  min-height: 100vh;
  width: 100vw;
}

.header-container {
  padding-top: 12px;
  background: rgb(255,255,255);
  background: radial-gradient(circle farthest-side at 11px 350px, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
}

.header {
  display: flex;
  align-items: center;
  margin: 0px auto;
  min-height: 51px;
  background-color: #fff;
  border-radius: 75px;
  max-width: 1160px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header__logo{
  padding: 16px 22px;
  margin-top: 5px;
  margin-right: 73px;
}

.header__nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__nav__link {
  text-decoration: none;
  color: #22253B;
  font-size: 13px;
  line-height: 13.57px;
  margin-right: 41px;
}

.header__nav__link:hover {
  color: #404070; 
}

.header__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: auto;
  padding-right: 11px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header__button--signup {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 13px;
  line-height: 13.57px;
  color: #3C3E50;
}

.header-button--signup:hover {
	color: #2f3249;
}
.header-button--signup:active {
	transform: scale(0.96);
}

.header-button--login {
  display: flex;
  align-items: center;
  padding: 9px 16.46px 9px 14.95px;
  border: none;
  min-width: 78px;
  font-weight: 500;
  font-size: 12px;
  line-height: 104.4%;
  border-radius: 34px;
  color: #fff;
  background-color: #38bff2;
}

.header__button--login__img{
  margin-right: 5px;
}

.header-button--login:hover {
  transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.header-button--login:active {
  background-color: #3296bb;
}

.main-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 122px;
  margin-top: 70px;
  padding-bottom: 110px;
}

.main-intro__header{
  max-width: 638px;
  font-size: 46px;
  font-weight: 500;
  line-height: 46px;
  padding-bottom: 31px;
}

.header__bracket {
  color: #ff0000;
}

.main-intro__header--italic {
  font-style: italic;
}

.main-intro__paragraph {
  border-top:  1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 19px;
  max-width: 365px;
}

.main-intro__btn {
  font-size: 20px;
}

.technologies {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding-bottom: 84px;
}

.technologies__header {
  padding-top: 84px;
  padding-bottom: 35px;
}

.technologies-container {
  gap: 59px;
  background-color: #EAF2F5;
  padding: 42px 100px 0;
  border-radius: 48px;
}

.technologies-container__img {
  width: 407px;
  height: 354px;
}

.tech-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26.13px;
}

.tech-type__list {
  width: 466.83px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}

.tech-type__list__item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  height: 45.13px;
}

.python {
  background-color: #5096FF;
  width: 311px;
}

.networks {
  background-color: #FFB359;
  width: 89px;
}

.dataBase {
  background-color: #FF6F50;
  width: 151.17px;
}

.flaskDjango {
  background-color: #4BD071;
  width: 277.48px;
}

.debuggingTesting {
  background-color: #50C0FF;
  width: 258px;
}

.docker {
  background-color: #4B77B9;
  width: 95px;
}

.git {
  background-color: #AF93FF;
  width: 93.83px;
}

.technologies-text {
  width: 386px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 600;  
  font-size: 20px;
  line-height: 25px;
}

.advantagies{
  width: 100vw;
  position: relative;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 87px;
  background-color: #fff;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  background-color: #fff;
}

.advantagies-container{
  max-width: 1160px;
  margin: 0 auto;
}

.benefits {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  padding-bottom: 31px;
}

.benefits__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 25px 31px;
  max-width: 265px;
  height: 254px;
  text-align: center;
  background-color: #eaf2f5;
  border-radius: 30px;
}

.benefits__item__header {
  font-family: "Gilroy-SemiBold", sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 0 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  
}

.benefits__item__txt{
  text-align: center;
  width: 200px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #22253B;
}

.process{
  margin-top: -70px;
  margin-bottom: -70px;
  padding-bottom: 160px;
  width: 100vw;
  background: rgb(255,255,255);
  background: radial-gradient(circle at top, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
}

.process__header {
  padding-top: 120px;
  padding-bottom: 26px;
}

.process__txt {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 642px;
  margin: 0 auto;
}

.process__video {
  max-width: 100vw;
  margin: 0 auto;
  padding: 28px 0;
  display: flex;
  justify-content: center;
}

.video-wrapper {
  width: 622.35px;
  height: 438.16px;
  background: transparent url(../assets/images/macbook.png) 0 0 no-repeat;
  background-size: contain;
}

.video-container {
  position: relative;
  width: 480px;
  height: 302px;
  margin-top: 20px;
}

.video {
  position: absolute;
  left: 68px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video-btn {
  position: absolute;
  top: 95px;
  left: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #F15525;
  box-shadow: 0px 2px 0px 22px rgba(241, 85, 37, 0.2)
}

.process__steps {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #fff;
  border-radius: 40px;
  padding: 45px 0 52px 5px; 
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.process__order {
  display: flex;
  flex-direction: column;
  padding: 0 53px;
}

.process__order.second,
.process__order.third {
  border-left: 1px solid #EAF2F5;
  padding-left: 58px;
}

.process__number {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 77px;
  line-height: 30px;
  color: #38BFF2;
}

.process__steps__header{
  margin-bottom: 18px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.process__steps__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.process-start {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  max-width: 538px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 110px;
}

.process-start__btn {
  font-size: 16px;
}

.process-start__paragraph {
  width: 45%;
  margin-left: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #22253B;
}

.helpService{
  background-color: #fff;
  border-radius: 75px;
  padding-top: 91px;
  padding-bottom: 70px;
  border-radius: 75px;
  position: relative;
  z-index: 1;
}

.helpService-container{
  gap: 30px;
}

.helpService-gridContainer.first {
  display: grid;
  grid-template-columns: minmax(auto,400px) minmax(auto,730px);
  gap: 30px;
}

.helpService__item{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #EAF2F5;
  border-radius: 40px;
}

.helpService__item.text {
  padding: 54px 85px 50px 100px;
}

.helpService__item__img {
  padding: 45px 65px;
}

.helpService__item__header {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 18px;
}

.helpService__item__paragraph {
  font-size: 16px;
  line-height: 25px;
}

.helpService-gridContainer.second {
  display: grid;
  grid-template-columns: minmax(auto,730px) minmax(auto,400px);
  gap: 30px;
}

.price {
  margin-top: -70px;
  margin-bottom: 60PX;
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 53%);
}

.price__container{
  display: grid;
  grid-template-columns: minmax(auto,391px) minmax(auto,252px) minmax(auto,380px);
  margin-bottom: 30px;
  grid-column-gap: 69px;
  padding-bottom: 41px;
}

.price__header {
  padding-top: 120px;
}

.price__item {
  display: flex;
  align-items: center;
}

.price__item__img {
  margin-right: 29px;
}

.price__item__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.price-table {
  width: 100vw;
}

.price-table-container{
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 36px 40px;
  background: #fff;
  border-radius: 30px;
}

.table{
  width: 100%;
}

.thead {
  font-weight: 700;
  font-size: 16px;
  color: #38BFF2;
  text-align: left;
}

.tbody {
  font-weight: 400;
  font-size: 20px;
}

.tfoot {
  font-weight: 700;
  font-size: 24px;
}

.tr {
  display: flex;
  border-radius: 10px;
}

.tbody >:nth-child(odd) {
  background-color: #F3F3F3;
}

.td,
.th {
  padding: 17px 19px 15px;
}

.td,
.th {
  width: 26.5%;
}

.td:first-child,
.th:first-child {
  width: 47%;
}

.footnote {
  background-color: none;
  caption-side: bottom;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #8E8E8E;
  margin-bottom: 33px;
}

.price-footer {
  width: 100vw;
}

.price-footer-container {
  gap: 23px;
  padding: 65px 51px 65px 54px;
  background-color: #EAF2F5;
  border-radius: 35px;
}

.price-footer__txt {
  max-width: 600px;
}

.price-footer__btn {
  font-size: 20px;
}

.footer {
  width: 100vw;
  font-family: "Gilroy-Regular", sans-serif;
}

.contacts {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.contacts-media__logo {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.contacts-media__txt {
  font-size: 16px;
  line-height: 19px;
  color: #8E8E8E;
}

.contacts__list {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.contacts__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #22253B;
}

.footer-nav__list{
  list-style-type: none;
}

.footer-nav__item {
  margin-bottom: 25px;
}

.footer-nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 104.4%;
  color: #22253B;
  }

.requisites-contacts {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 23px;
}

.requisites-contacts-tel {
  text-decoration: none;
  color: #38BFF2;
}

.requisites-contacts-mail {
  text-decoration: none;
  color: #22253B;
}

.requisites-txt{
  font-size: 13px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container {
  width: 100vw;
}

.footer-container-txt {
  display: flex;
  gap: 64px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 28px 0;
  border-top: 1px solid #D8D8D8;
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container-txt__secured{
  margin-right: auto;
}