* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'gilroy';
}


.container{
  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
  grid-template-rows: 50px 1fr 83px;
  background-color: #EAF2F5;;
}

.header {
  min-width: 1160px;
  height: 50px;
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 75px;
  margin: 12px auto;
}

.header-container {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-right: 10px;
}

.img-logo{
  margin-right: 74px;
  margin-left: 21px;
  height: 20px;
}

.nav-list {
  display: flex;
  gap: 41px;
  list-style-type: none;
  color: #000000;
  font-weight: 400px;
}

.nav-list:last-child {
  margin-right: 332px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.header-buttons {
  margin-left: auto;
}

.registration {
  text-decoration: none; 
  margin-right: 15px;
  font-size: 13px;
  color: #000000;
}

.sign-in {
  text-decoration: none; 
  background-color: #38bff2;
  border-radius: 34px;
  color: #fff;
  font-weight: 500px;
  font-size: 12px;
  padding: 9px 16.46px 9px 14.95px;
}

.intro {
  max-width: 1160px;
  margin: 70px auto;
}

.heading-text{
  font-size: 46px;
  font-weight: 400px;
  line-height: 46px;
  padding-bottom: 31px;
  }

.heading-img {
  float: right;
  margin-left: 130px;
}

.red-bracket {
  color: #ff0000;
}

.pass-test-txt {
  border-top:  1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 19px;
  width: 365px;
}

.pass-test-btn {
  background-color: #F15525;
  width: 320px;
  height: 70px;
  border-radius: 82px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
}

.arrow-up {
  margin-left: 12px;
}

.firstSection {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

.heading-sect-one {
  font-size: 46px;
  line-height: 46px;
  font-weight: 600px;
  padding-top: 84px;
  padding-bottom: 35px;
}

.container-sect-one {
  display: flex;
  justify-content: center;
  max-width: 1160px;
  height: 396px;
  margin: 0 auto;
  background-color: #EAF2F5;
  border-radius: 48px;
}

.img-section-one {
  padding: 42px 60px 0 120px;
}

.type-of-technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26.13px;
}

.technologies-list {
  width: 466.83px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  color: #fff;
  font-size: 17px;
  font-weight: 400px;
  height: 45.13px;
}

.python {
  background-color: #5096FF;
  width: 311px;
}

.networks {
  background-color: #FFB359;
  width: 89px;
}

.dataBase {
  background-color: #FF6F50;
  width: 151.17px;
}

.flaskDjango {
  background-color: #4BD071;
  width: 277.48px;
}

.debuggingTesting {
  background-color: #50C0FF;
  width: 206.4px;
}

.docker {
  background-color: #4B77B9;
  width: 95px;
}

.git {
  background-color: #AF93FF;
  width: 93.83px;
}