@import url(/assets/fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}

.heading {
  width: 50%;
  margin: 0 auto 30px;
  font-family: "Gilroy-SemiBold", sans-serif;
  text-align: center;
  font-size: 46px;
  line-height: 46px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 46px 25px 48px;
  border: none;
  background-color: #f15525;
  border-radius: 82px;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 96.69%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}

.button:hover {
	box-shadow: 0px 12px 10px 2px rgba(34, 60, 80, 0.2);
}

.button:active {
  background-color: #c4431c;
}

.btn__img {
  margin-left: 12px;
}

.main {
  font-family: "Gilroy-Regular",sans-serif;
  color: #22253B;
  min-height: 100vh;
  width: 100vw;
}

.header-container {
  padding-top: 12px;
  background: rgb(255,255,255);
  background: radial-gradient(circle farthest-side at 70% 350px, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  margin: 0px auto;
  min-height: 51px;
  background-color: #fff;
  border-radius: 75px;
  max-width: 1160px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header__logo{
  padding: 16px 22px;
  margin-top: 5px;
  margin-right: 73px;
}

.header__nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__nav__link {
  text-decoration: none;
  color: #22253B;
  font-size: 13px;
  line-height: 13.57px;
  margin-right: 41px;
}

.header__nav__link:hover {
  color: #404070; 
}

.header__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: auto;
  padding-right: 11px;
  font-family: "Gilroy-Regular", sans-serif;
}

.header__button--signup {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 13px;
  line-height: 13.57px;
  color: #3C3E50;
}

.header-button--signup:hover {
	color: #2f3249;
}
.header-button--signup:active {
	transform: scale(0.96);
}

.header-button--login {
  display: flex;
  align-items: center;
  padding: 9px 16.46px 9px 14.95px;
  border: none;
  min-width: 78px;
  font-weight: 500;
  font-size: 12px;
  line-height: 104.4%;
  border-radius: 34px;
  color: #fff;
  background-color: #38bff2;
}

.header__button--login__img{
  margin-right: 5px;
}

.header-button--login:hover {
  transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.header-button--login:active {
  background-color: #3296bb;
}

.main-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 122px;
  margin-top: 70px;
  padding-bottom: 110px;
}

.main-intro__header{
  max-width: 638px;
  font-size: 46px;
  font-weight: 500;
  line-height: 46px;
  padding-bottom: 31px;
}

.header__bracket {
  color: #ff0000;
}

.main-intro__header--italic {
  font-style: italic;
}

.main-intro__paragraph {
  border-top:  1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 19px;
  max-width: 365px;
}

.main-intro__btn {
  font-size: 20px;
}

.technologies {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding-bottom: 84px;
}

.technologies__header {
  padding-top: 84px;
  padding-bottom: 35px;
}

.technologies-container {
  gap: 59px;
  background-color: #EAF2F5;
  padding: 42px 100px 0;
  border-radius: 48px;
}

.technologies-container__img {
  width: 407px;
  height: 354px;
}

.tech-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26.13px;
}

.tech-type__list {
  width: 466.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}

.tech-type__list__item{
  padding: 0 25px;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 44px;
}

.python {
  background-color: #5096FF;
}

.networks {
  background-color: #FFB359;
}

.dataBase {
  background-color: #FF6F50;
}

.flaskDjango {
  background-color: #4BD071;
}

.debuggingTesting {
  background-color: #50C0FF;
}

.docker {
  background-color: #4B77B9;
}

.git {
  background-color: #AF93FF;
}

.technologies-text {
  width: 386px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-weight: 600;  
  font-size: 20px;
  line-height: 25px;
}

.advantagies{
  width: 100vw;
  position: relative;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 87px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  background-color: #fff;
}

.advantagies-container{
  max-width: 1160px;
  margin: 0 auto;
}

.benefits {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 27px;
  padding-bottom: 31px;
}

.benefits__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 50px 25px 31px;
  text-align: center;
  background-color: #eaf2f5;
  border-radius: 30px;
}

.benefits__item__header {
  font-family: "Gilroy-SemiBold", sans-serif;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 0 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  
}

.benefits__item__txt{
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}

.process{
  margin-top: -70px;
  margin-bottom: -70px;
  padding-bottom: 160px;
  width: 100vw;
  background: rgb(255,255,255);
  background: radial-gradient(circle at top, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
}

.process__header {
  padding-top: 120px;
  padding-bottom: 26px;
}

.process__txt {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 642px;
  margin: 0 auto;
}

.process__video {
  max-width: 100vw;
  margin: 0 auto;
  padding: 28px 0;
  display: flex;
  justify-content: center;
}

.video-wrapper {
  width: 622.35px;
  height: 438.16px;
  background: transparent url(../assets/images/macbook.png) 0 0 no-repeat;
  background-size: contain;
}

.video-container {
  position: relative;
  width: 480px;
  height: 302px;
  margin-top: 20px;
}

.video {
  position: absolute;
  left: 68px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.video-btn {
  position: absolute;
  top: 95px;
  left: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #F15525;
  box-shadow: 0px 2px 0px 22px rgba(241, 85, 37, 0.2)
}

.process__steps {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #fff;
  border-radius: 40px;
  padding: 45px 0 52px 5px; 
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.process__order {
  display: flex;
  flex-direction: column;
  padding: 0 53px;
}

.process__order.second,
.process__order.third {
  border-left: 1px solid #EAF2F5;
  padding-left: 58px;
}

.process__number {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 77px;
  line-height: 30px;
  color: #38BFF2;
}

.process__steps__header{
  margin-bottom: 18px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.process__steps__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.process-start {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  max-width: 538px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 110px;
}

.process-start__btn {
  font-size: 16px;
}

.process-start__paragraph {
  width: 45%;
  margin-left: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #22253B;
}

.helpService{
  background-color: #fff;
  padding-top: 91px;
  padding-bottom: 70px;
  border-radius: 75px;
  position: relative;
  z-index: 1;
}

.helpService-container{
  gap: 30px;
}

.helpService-gridContainer.first {
  display: grid;
  grid-template-columns: minmax(auto,400px) minmax(auto,730px);
  gap: 30px;
}

.helpService__item{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #EAF2F5;
  border-radius: 40px;
}

.helpService__item.text {
  padding: 54px 85px 50px 100px;
}

.helpService__item__img {
  padding: 45px 65px;
}

.helpService__item__header {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 18px;
}

.helpService__item__paragraph {
  font-size: 16px;
  line-height: 25px;
}

.helpService-gridContainer.second {
  display: grid;
  grid-template-columns: minmax(auto,730px) minmax(auto,400px);
  gap: 30px;
}

.price {
  margin-top: -70px;
  margin-bottom: 60PX;
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 53%);
}

.price__container{
  display: grid;
  grid-template-columns: minmax(auto,391px) minmax(auto,252px) minmax(auto,380px);
  margin-bottom: 30px;
  grid-column-gap: 69px;
  padding-bottom: 41px;
}

.price__header {
  padding-top: 120px;
}

.price__item {
  display: flex;
  align-items: center;
}

.price__item__img {
  margin-right: 29px;
}

.price__item__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.price-table {
  width: 100vw;
}

.price-table-container{
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 36px 40px;
  background: #fff;
  border-radius: 30px;
}

.table{
  width: 100%;
}

.thead {
  font-weight: 700;
  font-size: 16px;
  color: #38BFF2;
  text-align: left;
}

.tbody {
  font-weight: 400;
  font-size: 20px;
}

.tfoot {
  font-weight: 700;
  font-size: 24px;
}

.tr {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.tbody >:nth-child(odd) {
  background-color: #F3F3F3;
}

.td,
.th {
  padding: 17px 19px 15px;
}

.td,
.th {
  width: 26.5%;
}

.td:first-child,
.th:first-child {
  width: 47%;
}

.footnote {
  background-color: none;
  caption-side: bottom;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #8E8E8E;
  margin-bottom: 33px;
}

.price-footer {
  width: 100vw;
}

.price-footer-container {
  gap: 23px;
  padding: 65px 51px 65px 54px;
  background-color: #EAF2F5;
  border-radius: 35px;
}

.price-footer__txt {
  max-width: 600px;
}

.price-footer__btn {
  font-size: 20px;
}

.footer {
  width: 100vw;
  font-family: "Gilroy-Regular", sans-serif;
}

.contacts {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.contacts-media__logo {
  display: flex;
  gap: 18px;
  height: 32px;
  margin-bottom: 40px;
}

.contacts-media__txt {
  font-size: 16px;
  line-height: 19px;
  color: #8E8E8E;
}

.contacts__list {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.contacts__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #22253B;
}

.footer-nav__list{
  list-style-type: none;
}

.footer-nav__item {
  margin-bottom: 25px;
}

.footer-nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 104.4%;
  color: #22253B;
  }

.requisites-contacts {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  line-height: 23px;
}

.requisites-contacts-tel {
  text-decoration: none;
  color: #38BFF2;
}

.requisites-contacts-mail {
  text-decoration: none;
  color: #22253B;
}

.requisites-txt{
  font-size: 13px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container {
  width: 100vw;
}

.footer-container-txt {
  display: flex;
  gap: 64px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 28px 0;
  border-top: 1px solid #D8D8D8;
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}

.footer-container-txt__secured{
  margin-right: auto;
}

@media screen and (max-width: 480px){
  .container{
    max-width: 470px;
  }
  
  .heading {
    font-size: 24px;
    line-height: 26px;
  }
  
  .btn__img {
    margin-left: 7.21px;
  }
  
  .header-container {
    max-width: 480px;
    padding-top: 7px;
    background: radial-gradient(circle at bottom, rgba(255,255,255,1) 12%, rgba(245,249,250,1) 19%, rgba(255,255,255,1) 19%, rgba(245,249,250,1) 33%, rgba(255,255,255,1) 34%, rgba(245,249,250,1) 49%, rgba(255,255,255,1) 50%, rgba(245,249,250,1) 68%, rgba(255,255,255,1) 69%, rgba(245,249,250,1) 85%, rgba(255,255,255,1) 86%, rgba(247,250,251,1) 100%, rgba(245,249,250,1) 100%);
  }
  
  .header {
    justify-content: center;
    min-height: 41px;
    border-radius: 75px;
    max-width: 100vw;
  }
  
  .header__logo{
    padding: 13px 14px;
    margin-right: 56px;
  }
  
  .header__nav {
    display: none;
    position: absolute;
  }
  
  .header__nav__link {
    text-decoration: none;
    color: #22253B;
    font-size: 13px;
    line-height: 13.57px;
    margin-right: 41px;
  }
  
  .header__nav__link:hover {
    color: #404070; 
  }
  
  .header__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: auto;
    padding-right: 11px;
    font-family: "Gilroy-Regular", sans-serif;
  }
  
  .header__button--signup {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 13px;
    line-height: 13.57px;
    color: #3C3E50;
  }
  
  .header-button--signup:hover {
    color: #2f3249;
  }
  .header-button--signup:active {
    transform: scale(0.96);
  }
  
  .header-button--login {
    display: flex;
    align-items: center;
    padding: 9px 16.46px 9px 14.95px;
    border: none;
    min-width: 78px;
    font-weight: 500;
    font-size: 12px;
    line-height: 104.4%;
    border-radius: 34px;
    color: #fff;
    background-color: #38bff2;
  }
  
  .header__button--login__img{
    margin-right: 5px;
  }
  
  .header-button--login:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  
  .header-button--login:active {
    background-color: #3296bb;
  }
  
  .main-intro {
    margin-top: 24px;
    padding-bottom: 33px;
  }
  
.main-intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .main-intro__header{
    padding-bottom: 18px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .main-intro__paragraph {
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  
  .main-intro__btn {
    font-size: 18px;
  }
  
  .technologies {
    max-width: 100vw;
    padding-bottom: 12px;
  }
  
  .technologies__header {
    padding-bottom: 22px;
  }
  
  .technologies-container {
    padding: 17px;
    background-color: #EAF2F5;
    border-radius: 30px;
  }
  
  .technologies-container__img {
    display: none;
  }

  .tech-type {
    display: block;
    padding: 17px;
  }

  .tech-type__list{
    gap: 9px;
    max-width: 90%;
    margin: 0 auto;
  }

  .tech-type__list__item{
    flex-grow: 1;
    height: 46px;
    font-size: 14px;
  }
  
  .technologies-text {
    display: none;
  }
  
  .advantagies{
    padding-top: 48px;
    padding-bottom: 12px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .advantagies__header {
    width: 65%;
  }

  .benefits {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 175px 155px 175px 86px;
    align-items: stretch;
    gap: 10px;
    margin: 0 10px;
    padding-bottom: 12px;
  }

  .benefits__item {
    width: 100%;
    padding: 24px 12px 15px;
  }

  .benefits__item:last-child {
    flex-direction: row;
    gap: 0px;
    grid-column: span 2;
    text-align: left;
    padding-left: 27px;
  }

  .benefits-img{
    width: 38px;
    height: 38px;
  }
  
  .benefits__item__header {
    margin-top: 9px;
    margin-bottom: 4px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 12px;
  }

  .benefits__item__txt{
    padding: 0 15px;
    font-size: 9px;
    line-height: 12px;
  }
  
  .process{
    padding-bottom: 62px;
    background: radial-gradient(circle at top, rgba(255,255,255,1) 5%, rgba(234, 242, 245,1) 10%, rgba(234, 242, 245,1) 19%, rgba(234, 242, 245,1) 24%, rgba(255,255,255,1) 30%, rgba(234, 242, 245,1) 40%, rgba(245,249,250,1) 100%);
  }
  
  .process__header {
    padding-bottom: 0;
  }
  
  .process__txt {
    font-size: 12px;
    line-height: 17px;
    max-width: 380px;
  }
  
  .process__video {
    padding: 30px 0;
  }
  
  .video-wrapper {
    width: 450px;
    height: 320px;
    background: transparent url(../assets/images/macbook.png) 0 0 no-repeat;
    background-size: contain;
  }
  
  .video-container {
    position: relative;
    width: 343px;
    height: 215px;
    margin-top: 15px;
  }
  
  .video {
    left: 53px;
  }
  
  .video-btn {
    top: 70px;
    left: 205px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 0px 12px rgba(241, 85, 37, 0.2)
  }
  
  .process__steps {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 36px 20px;
  }
  
  .process__order {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .process__order.second,
  .process__order.third {
    max-width: 380px;
    padding: 0;
    border: none;
    border-top: 1px solid #EAF2F5;
  }
  
  .process__number {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 50px;
  }
  
  .process__steps__header{
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 19px;
  }
  
  .process__steps__txt{
    font-size: 12px;
    line-height: 14px;
  }
  
  .process-start {
    flex-direction: column;
    gap: 12px;
    margin: 0 10px;
    margin-bottom: 62px;
    padding: 11px 25px;
    border-radius: 40px;
  }
  
  .process-start__btn {
    width: 80%;
    font-size: 16px;
  }
  
  .process-start__paragraph {
    width: 80%;
    margin: 0;
    font-size: 13px;
    text-align: center;
  }
  
  .helpService{ 
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
  }
  
  .helpService-container{
    gap: 12px;
    padding: 10px;
  }
  
  .helpService-gridContainer.first,
  .helpService-gridContainer.second{
    display: flex;
    flex-direction: column; 
    gap: 12px; 
  }

  .helpService__item.text {
    padding: 38px 23px 37px 20px;
  }
  
  .helpService__item__img {
    width: 300px;
    height: auto;
    padding: 35px 50px;
    align-self: center;
  }
  
  .helpService__item__header {
    font-size: 20px;
    line-height: 19px;
  }
  
  .helpService__item__paragraph {
    font-size: 12px;
    line-height: 17px;
  }
  
  .price__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    gap: 21px;
    padding: 0;
  }
  
  .price__header {
    width: 80%;
    padding-top: 120px;
  }
  
  .price__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .price__item__img {
    margin: 0;
  }
  
  .price__item__txt {
    max-width: 80%;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  
  .price-table {
    width: 100vw;
  }
  
  .price-table-container{
    min-width: 1160px;
    margin-left: 10px;
  }
  
  .tbody {
    font-size: 13px;
  }
  
  .tfoot {
    font-size: 19px;
  }
  
  .tr {
    display: flex;
    border-radius: 10px;
  }
  
  .tbody >:nth-child(odd) {
    background-color: #F3F3F3;
  }
  
  .td,
  .th {
    padding: 13px 20px 12px;
  }
  
  .td,
  .th {
    width: 26.5%;
  }
  
  .td:first-child,
  .th:first-child {
    width: 47%;
  }
  
  .footnote {
    max-width: 200px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 47px;
  }
  
  .price-footer-container {
    gap: 21px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 42px 24px 54px 25px;
    background-color: #EAF2F5;
    border-radius: 35px;
  }
  
  .price-footer__txt {
    max-width: 80%;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
  }
  
  .price-footer__btn {
    width: 80%;
    font-size: 15px;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-bottom: 32px;
  }
  
  .contacts__list {
    justify-content: center;
  }

  .contacts-media__logo {
    margin-bottom: 28px;
  }
  
  .contacts-media__txt {
    font-size: 15px;
  }
  
  .footer-nav__list{
    margin-top: 43px;
  }

  .footer-nav__item {
    margin-bottom: 25px;
    text-align: center;
  }
    
  .requisites-contacts {
    margin-bottom: 35px;
    align-items: center;
  }
    

  .requisites-txt{
    text-align: center;
  }
  
  .footer-container-txt {
    display: block;
    max-width: 380px;
    padding: 25px 0;
    font-size: 12px;
    text-align: center; 
  }
  
  .footer-container-txt__secured {
    margin-bottom: 13px;
  }

  .footer-container-txt--red {
    margin-bottom: 6px;
    color: #F15525;
  }
  
}